<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/metube"
        android:label="@string/app_name"
        android:roundIcon="@drawable/metube"
        android:theme="@style/Theme.MeTube"
        tools:replace="android:allowBackup"
        tools:targetApi="31">

        <activity
            android:name=".presentation.ResultsActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MeTube">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.PlaylistActivity"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true" />
        <activity android:name=".presentation.FavoritesActivity" />
        <activity android:name=".presentation.VideoPlayerActivity" />
        <activity android:name=".presentation.TermsActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.firebase.auth.api.gms.default_web_client_id"
            android:value="@string/default_web_client_id" />
    </application>
</manifest>
